@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2")format("woff2"),
    url("../fonts/Roboto-Regular.woff")format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff2")format("woff2"),
    url("../fonts/Roboto-Bold.woff")format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    min-width: 280px;
    margin: 0 21px; 
}
.head {
    box-sizing: border-box;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height: 50px;
    padding: 0 21px;
}
.head__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.title {
    font-size: 36px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0;
}

.btn {
    box-sizing: border-box;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    padding: 0 5px;
    background-color: rgba($color: #000000, $alpha: 0);
    font-size: 12px;
    line-height: 1;
    position: relative;
    z-index: 100;
}


@media (min-width: 576px) {
    .container {
        width: 534px;
        margin: 0 auto;
    }
    .head__container {
        width: 534px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 672px;
        margin: 0 auto;
    }
    .head {
        height: 120px;
        padding: 0;
    }
    .head__container {
        width: 672px;
        margin: 0 auto;
    }
    .title {
        font-size: 100px;
    }
    .btn {
        height: 48px;
        font-size: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 896px;
        margin: 0 auto;
    }
    .head {
        height: 128px;
    }
    .head__container {
        width: 896px;
        margin: 0 auto;
    }
}
