.resume__head {
    background: rgba(141,255,114,0.6);
    background: linear-gradient(90deg, rgba(141,255,114,0.6) 0%, rgba(255,255,255,0.6) 100%);
    .head__container {
        justify-content: space-between;
    }
}

.resume__container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.resume__list {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1px;
    background-color: #000;
    border-bottom: 1px solid #000;
}
.resume__list:not(:last-child) {
    margin-bottom: 50px;
}

.resume__item {
    padding: 10px 5px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
}
.resume__item-first {
    font-weight: 700;
}
.resume__date {
    color: #e60080;
    margin-bottom: 5px;
}



@media (min-width: 768px) {
    .resume__container {
        padding-top: 72px;
        padding-bottom: 72px;
    }
    .resume__list {
        grid-template-columns: 100%;
    }
    .resume__list:not(:last-child) {
        margin-bottom: 74px;
    }
    .resume__item {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        line-height: 30px;
    }
    .resume__date {
        width: 240px;
        margin-bottom: 0;
    }
    .resume__desc {
        width: 408px;
    }
}

@media (min-width: 992px) {
    .resume__list-educ {
        grid-template-columns: 272px 624px;
        grid-template-rows: repeat(3, auto);
        border-top: 1px solid #000;
        .resume__item-first {
            grid-row: 1/4;
        }
    }
    .resume__list-skill {
        grid-template-columns: 272px 624px;
        grid-template-rows: repeat(3, auto);
        border-top: 1px solid #000;
        .resume__item-first {
            grid-row: 1/4;
        }
    }
    .resume__date {
        width: 210px;
    }
    .resume__desc {
        width: 404px;
    }
}

@media (min-width: 1440px) {

}
